header{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    z-index: 999;
    width: 100%;
}

header *{
    margin: 0 .5em;
}

.logo-container{
    width: 50px;
    padding: 4px 0 0 0;
}

.logo-container img{
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

nav ul li{
    cursor: pointer;
}
