:root {
  --color-bg: #192A51;
  --color-nav-bg: #AAA1C8;
  --color-btn-bg: #AAA1C8;
  --color-primary-text: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(black, var(--color-bg));
  color: var(--color-primary-text);
}



