:root {
  --color-bg: #101214; /*-100*/
  --color-nav-bg: #161A1D; /*0*/
  --color-btn-bg: #1D2125; /*100*/
  --color-btn-bg-hover:#22272B; /*200*/
  --color-input-border: #22272B;
  --color-input-border-focus: #454F59; /*400*/
  --color-product-bg: #1D2125;
  --color-product-bg-active: #22272B;
  --color-emphasis-text: #738496; /*600*/
  --color-primary-text: #DEE4EA; /*1100*/
  --color-primary-text-active: #B6C2CF; /*900*/
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-primary-text);
}

a{
  all: unset;
}

.main-page{
  background: linear-gradient(135deg, var(--color-bg), var(--color-btn-bg-hover))
}


